* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #211221;
  text-align: center;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 15px;
}